{% extends "base.html" %}
{% block title %}View Document{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>File Name</th>
            <th>File Content</th>
            <th>Owner name</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td>{{ file.id }}</td>
            <td>{{ file.title }}</td>
            <td>{{ file.file_name }}</td>
            <td>{{ file.content }}</td>
            <td>{{ file.owner_name }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


